body {
    background: linear-gradient(180deg, rgba(181,192,208,1) 0%, rgba(204,211,202,1) 89%), url(images/dither.jpg);
    background-blend-mode: multiply;
    background-repeat: repeat-x;
    font-family: 'Saira';
    height: 100%;
}

.title {
    font-family: 'Jacquarda Bastarda 9';
    font-size: 3em;
    margin-top: auto;
    margin-bottom: auto;
}

.imagen {
    margin: 1em;
    border-radius: 50%;
}

.content {
    width: calc(100% - 20px);
    padding: 0px;
}

.banner {
    display: inline-flex;
    box-shadow: 14px 15px 8px -4px rgba(0,0,0,0.43);
    width: 100%;
    margin: 0px;
    height: 8em;
    background-color: #F5E8DD;
    border-radius: 1em;
}

.content-body {
    display: inline-flex;
    width: 100%;
    padding: 1em;
}

.entry-section {
    background-color: #EED3D9;
    box-shadow: 14px 15px 8px -4px rgba(0,0,0,0.43);
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
    width: 62%;
}

.news-title {
    margin-right: auto;
    margin-left: auto;
}

.extra-info {
    background-color: #F5E8DD;
    padding: 1em;
    margin: 1em auto 1em auto;
    width: 24%;
    min-height: 1%;
    overflow: hidden;
    border-radius: 1em;
    box-shadow: 14px 15px 8px -4px rgba(0,0,0,0.43);
}

.news-list span{
    color:rgb(37, 37, 37);
    background-color: #E5D4FF;
    border-radius: 5px;
    padding: 2px;
}

.entry {
    padding: 5px;
}

.entry-text {
    color: #1f1f1f;
    border-bottom: 5px solid #b3a9a9f1;
    padding-bottom: 2em;
    border-radius: 5px;
}

.date-entry {
    color: grey;
    font-weight: bold;
}

.footer {
    background-color: #E5D4FF;
    width: calc(95% - 5px);
    padding: 2em;
    border-radius: 1em;
    box-shadow: 14px 15px 8px -4px rgba(0,0,0,0.43);
}

.entry-text img {
    min-height: 20em;
    max-width: calc(80% - 10px);
    display: block;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 14px 15px 8px -4px rgba(181,192,208,1);
}



@media (max-width: 480px) {
    .imagen-banner {
        width: 100%;
    }

    .title {
        width: 100%;
    }
}

@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Saira';
    src: url(fonts/Saira.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Indie Flower';
    src: url(fonts/IndieFlower-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jacquarda Bastarda 9';
    src: url(fonts/JacquardaBastarda9-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}