html {
    background: linear-gradient(180deg, rgba(208, 162, 247, 1) 0%, rgba(220, 191, 255, 1) 89%), url(dither.jpg);
    font-family: Raleway;
    height: calc(100vw - 10px);
    background-blend-mode: multiply;
    background-repeat: repeat-x;
}

.title {
    font-family: 'Jacquarda Bastarda 9';
    font-size: 3em;
}

.imagen-banner {
    margin: 1em;
    padding: 2em;
    background-color: pink;
}

.content {
    width: calc(100% - 20px);
    padding: 0px;
}

.banner {
    display: inline-flex;
    width: 100%;
    margin: 0px;
    height: 8em;
    background-color: #E5D4FF;
    border-radius: 1em 1em 0 0;
}

.content-body {
    display: inline-flex;
    width: 100%;
    padding: 1em;
}

.entry-section {
    background-color: #F0F3FF;
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em auto 1em auto;
    margin: auto;
    width: 62%;
}

.extra-info {
    background-color: #E5D4FF;
    padding: 1em;
    margin: 1em auto 1em auto;
    width: 24%;
    height: 30px;
}

.entry {
    padding: 5px;
}

.entry-text {
    color: #1f1f1f;
}

.date-entry {
    color: grey;
    font-weight: bold;
}

.footer {
    background-color: #E5D4FF;
    width: calc(95% - 5px);
    padding: 2em;
    border-radius: 1em;
}

@media (max-width: 480px) {
    .imagen-banner {
        width: 100%;
    }

    .title {
        width: 100%;
    }
}

@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Indie Flower';
    src: url(fonts/IndieFlower-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Jacquarda Bastarda 9';
    src: url(fonts/JacquardaBastarda9-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}